<Config>    
    <DBConn>irclogger:irclogger@/irclogs</DBConn>
    <BadWords>
        <BadWord>
            <Word>OuO</Word>
            <Query>ouo</Query>
        </BadWord>
        <BadWord>
            <Word>Fuck</Word>
            <Query>fuck</Query>
        </BadWord>
        <BadWord>
            <Word>Blagerflath</Word>
            <Query>blagerflath</Query>
        </BadWord>
        <BadWord>
            <Word>island</Word>
            <Query>island</Query>
        </BadWord>
        <BadWord>
            <Word>huehuehue</Word>
            <Query>hue</Query>
        </BadWord>
        <BadWord>
            <Word>:|</Word>
            <Query>:|</Query>
        </BadWord>
        <BadWord>
            <Word>daft</Word>
            <Query>daft</Query>
        </BadWord>
        <BadWord>
            <Word>damn</Word>
            <Query>damn</Query>
        </BadWord>
        <BadWord>
            <Word>shit</Word>
            <Query>shit</Query>
        </BadWord>
        <BadWord>
            <Word>crump</Word>
            <Query>crump</Query>
        </BadWord>
        <BadWord>
            <Word>Haata</Word>
            <Query>haata</Query>
        </BadWord>
        <BadWord>
            <Word>Texas</Word>
            <Query>texas</Query>
        </BadWord>
    </BadWords>
</Config>    
