<Config>    
    <DBConn>irclogger:irclogger@/irclogs</DBConn>
    <BadWords>
        <BadWord>
            <Word>OuO</Word>
            <Query>ouo</Query>
            <Table>Ouo</Table>
        </BadWord>
        <BadWord>
            <Word>Fuck</Word>
            <Query>fuck</Query>
            <Table>Fuck</Table>
        </BadWord>
        <BadWord>
            <Word>Blagerflath</Word>
            <Query>blagerflath</Query>
            <Table>Blagerflath</Table>
        </BadWord>
        <BadWord>
            <Word>island</Word>
            <Query>island</Query>
            <Table>Island</Table>
        </BadWord>
        <BadWord>
            <Word>huehuehue</Word>
            <Query>hue</Query>
            <Table>Hue</Table>
        </BadWord>
        <BadWord>
            <Word>:|</Word>
            <Query>:|</Query>
            <Table>SlantFace</Table>
        </BadWord>
        <BadWord>
            <Word>daft</Word>
            <Query>daft</Query>
            <Table>Daft</Table>
        </BadWord>
        <BadWord>
            <Word>damn</Word>
            <Query>damn</Query>
            <Table>Damn</Table>
        </BadWord>
        <BadWord>
            <Word>shit</Word>
            <Query>shit</Query>
            <Table>Shit</Table>
        </BadWord>
        <BadWord>
            <Word>crump</Word>
            <Query>crump</Query>
            <Table>Crump</Table>
        </BadWord>
        <BadWord>
            <Word>Haata</Word>
            <Query>haata</Query>
            <Table>Haata</Table>
        </BadWord>
        <BadWord>
            <Word>Texas</Word>
            <Query>texas</Query>
            <Table>Texas</Table>
        </BadWord>
    </BadWords>
</Config>    
