{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{.webname.Title}}</title>
    <link rel="author" href="humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
<div class="container">
    <h3><a class="brand" href="/">{{.webname.Brand}}</a></h3>
</div>
{{end}}

{{define "footer"}}
  </body>
</html>
{{end}}
