{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <title>sadbox &middot; org</title>
    <link rel="author" href="humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/fix_title.js"></script>
  </head>
  <body>
<div class="container">
    <h3><a class="brand" id="brand" href="/">sadbox.org</a></h3>
</div>
{{end}}

{{define "footer"}}
  </body>
</html>
{{end}}
