{{template "header.html"}}
<div class="container">
    <h1>#geekhack statistics</h1>
    <h2>Posts</h2>
    <div id="postsByMinute" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Total Posts</div>
                <table class="table table-condensed table-hover table-bordered">
                    {{range $index, $tuple := .TotalPosts}}
                        <tr>
                        <td>{{$index}}</td>
                        <td>{{$tuple.Name}}</td>
                        <td>{{$tuple.Count}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Posts Per Day</div>
                <table class="table table-condensed table-hover table-bordered">
                    {{range $index, $tuple := .PostsByDay}}
                        <tr>
                        <td>{{$index}}</td>
                        <td>{{$tuple.Name}}</td>
                        <td>{{$tuple.Count}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
        </div>
    </div>
    <h2>Words!</h2>
    <div class="row">
        {{range $word, $tuple := .CurseWords}}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">{{$word}}</div>
                    <table class="table table-condensed table-hover table-bordered">
                        {{range $index, $innertuple := $tuple}}
                            <tr>
                            <td>{{$index}}</td>
                            <td>{{$innertuple.Name}}</td>
                            <td>{{$innertuple.Count}}</td>
                            </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        {{end}}
    </div>
</div>
{{template "jsincludes.html"}}
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/modules/exporting.js"></script>
<script src="/static/js/postsbyminute.js"></script>
{{template "footer.html"}}
