{{define "geekhack" -}}
{{template "header" . -}}
<div class="container">
    <h1>#geekhack statistics <small>since 2012-12-17 @ 04:04:00 UTC</small></h1>
    <h2>Posts</h2>
    <div id="postsByMinute" style="min-width: 310px; height: 400px; margin: 0 auto; display:none"></div>
    <div id="spinner" style="min-width: 310px; height: 60px; margin: 0 auto; text-align: center; display:none"><img src="/static/loading.gif"/></div>
    <div id="postsByDayAll" style="min-width: 310px; height: 400px; margin: 0 auto; display:none"></div>
    <div id="spinnerTwo" style="min-width: 310px; height: 60px; margin: 0 auto; text-align: center; display:none"><img src="/static/loading.gif"/></div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Total Posts</div>
                <table class="table table-condensed table-hover table-bordered">
                    {{range $index, $tuple := .Geekhack.TotalPosts}}
                        <tr>
                        <td>{{add $index 1}}</td>
                        <td>{{$tuple.Name}}</td>
                        <td>{{$tuple.Count}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">Most Active Days</div>
                <table class="table table-condensed table-hover table-bordered">
                    {{range $index, $tuple := .Geekhack.PostsByDay}}
                        <tr>
                        <td>{{add $index 1}}</td>
                        <td>{{$tuple.Name}}</td>
                        <td>{{$tuple.Count}}</td>
                        </tr>
                    {{end}}
                </table>
            </div>
        </div>
    </div>
    <h2>Words!</h2>
    <div class="row">
        {{range $word, $tuple := .Geekhack.CurseWords}}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">{{$word}}</div>
                    <table class="table table-condensed table-hover table-bordered">
                        {{range $index, $innertuple := $tuple}}
                            <tr>
                            <td>{{add $index 1}}</td>
                            <td>{{$innertuple.Name}}</td>
                            <td>{{$innertuple.Count}}</td>
                            </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        {{end}}
    </div>
</div>
<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/highcharts.min.js"></script>
<script src="/static/gencharts.js"></script>
{{template "footer"}}
{{end}}
