{{define "header.tmpl"}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Webname.Title }}</title>
    <link rel="author" href="/humans.txt" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/tailwind.css" rel="stylesheet">
  </head>
  <body>
<div class="container mx-auto">
    <h3><a class="text-2xl font-medium text-blue-600 hover:underline" href="/">{{ .Webname.Brand }}</a></h3>
</div>
{{end}}
