{{template "header.html"}}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="jumbotron">
                <h1>James McGuire</h1>
                <p class="lead">Linux Nerd Extraordinaire</p>
            </div>
        </div>
        <div class="col-md-5">
            <h4><a href="http://github.com/sadbox/">github</a></h4>
            <h4><a href="http://www.linkedin.com/in/jamesbmcguire">linkedin</a></h4>
            <h4><a href="/keyboards">keyboard pictures</a></h4>
            <h4><a href="/geekhack">#geekhack</a></h4>
            <h4><a href="/status">server load</a></h4>
        </div>
    </div>
</div>
{{template "jsincludes.html"}}
{{template "footer.html"}}
